In [1]:
import pandas as pd
import numpy as np
import time
source_path="G:/resources/数据库/pro1/release of project 1/data/student.csv"
target_path="G:/resources/数据库/pro1/release of project 1/data/student_sql.sql"
def w_sql(path):
    df=pd.read_csv(path)
    df1=df
    col=df.columns.values
    table_name=path.strip('.csv')
    tit='INSERT INTO '+table_name+"("
    for i in col:
        tit=tit+i+","
    tit=tit[:-1]+") VALUES("
    sql=""
    for i in df1.index:
        if i!=0:
            sql=sql+tit
            for j in range(0,len(col)):
                if type(df1.iloc[i,j])==type("1"):
                    sql=sql+"'"+str(df1.iloc[i,j])+"'"+","
                else:
                    sql=sql+str(df1.iloc[i,j])+","
            sql=sql[:-1]+")\n"
    return sql

f = open(target_path,'w')
time_start=time.time()

f.write(w_sql(source_path))
time_end=time.time()
print('Time Cost',time_end-time_start,'s')

f.close()

KeyboardInterrupt: