In [1]:
import pandas as pd
import numpy as np
path1="G:/resources/数据库/pro1/release of project 1/data/course_info.json"
path2="G:/resources/数据库/pro1/release of project 1/data/select_course.csv"
cols_name = ['studentName','gender', 'college', 'studentId', 'course1', 'course2','course3','course4','course5','course6','course7']
course_info=pd.read_json(path1)
#course_info
select_cours=pd.read_csv(path2,names = cols_name)
##select_cours
#print(select_cours['course7'].notnull().sum())
#print(select_cours['course6'].notnull().sum())
cols_name1 = ['studentName','gender', 'college_cn', 'studentId', 'course1', 'course2','course3','course4','course5','course6']
select_course=pd.read_csv(path2,names=cols_name1)
#select_course
select_course1=select_course
select_course3=select_course
cols_name2 = ['studentName','gender', 'college_cn','college_en', 'studentId', 'course1', 'course2','course3','course4','course5','course6']
select_course2=pd.DataFrame(columns=cols_name2)
select_course2[cols_name1]=select_course1
select_course2
select_course2['college_cn'] = select_course3.college_cn.apply(lambda x: x.split('(')[0]) 
select_course2['college_en'] = select_course1.college_cn.apply(lambda x: x.split('(')[1]) 
select_course4=select_course2
select_course4['college_en'] = select_course4.college_en.apply(lambda x: x.split(')')[0])
select_course4
path6="G:/resources/数据库/pro1/release of project 1/data/academy.csv"
academy=pd.DataFrame(columns=['academy','english_name'])
academy['academy']=select_course4['college_cn']
academy['english_name']=select_course4['college_en']
print(academy['academy'].isnull().sum())
print(select_course4['college_en'].isnull().sum())
academy

0
0

        academy english_name
0          阿兹卡班      Azkaban
1          斯莱特林    Slytherin
2          斯莱特林    Slytherin
3          赫奇帕奇   Hufflepuff
4          拉文克劳    Ravenclaw
...         ...          ...
3999915    阿兹卡班      Azkaban
3999916    阿兹卡班      Azkaban
3999917    阿兹卡班      Azkaban
3999918    斯莱特林    Slytherin
3999919    斯莱特林    Slytherin

[3999920 rows x 2 columns]

In [2]:
print(academy['academy'].isnull().sum())
academy=academy.drop_duplicates(subset=['academy'])
#print(select_cours['college'].isnull().sum())
academy
academy.to_csv("G:/resources/数据库/pro1/release of project 1/data/academy.csv",index=False)

0

In [3]:
select_course4['college_en'].isnull().sum()

0

In [4]:
course_info['courseId'].isnull().sum()

0

In [5]:
course_info['className'].isnull().sum()

0

In [6]:
course_info1=course_info
course_info1['prerequisite'].isnull().sum()

274

In [7]:
course_info1['prerequisite'][217]

'(生物化学I（生物大分子） 或者 生物化学I（生物大分子）)'

In [8]:
pre_course=pd.DataFrame(columns=['courseId','prerequisite','p_and1','p_and2','p_and3','p_and4'])##
pre_course['courseId']=course_info1['courseId']
pre_course['prerequisite']=course_info1['prerequisite']#=course_info1['courseId','prerequisite']
#select_course2['college_cn'] = select_course3.college_cn.apply(lambda x: x.split('(')[0]) 

pre_course['p_and1']=pre_course.prerequisite.apply(lambda x:None if x is None else x.split('并且')[0])
pre_course['p_and2']=pre_course.prerequisite.apply(lambda x:None if x is None or len(x.split('并且'))<2 else x.split('并且')[1])
pre_course['p_and3']=pre_course.prerequisite.apply(lambda x:None if x is None or len(x.split('并且'))<3 else x.split('并且')[2])
pre_course['p_and4']=pre_course.prerequisite.apply(lambda x:None if x is None or len(x.split('并且'))<4 else x.split('并且')[3])
pre_course1=pre_course.drop_duplicates()

pre_course2=pd.DataFrame(columns=['courseId','p_and1','p_and2','p_and3','p_and4'])
pre_course2['courseId']=pre_course1['courseId']
pre_course2['p_and1']=pre_course1['p_and1']
pre_course2['p_and2']=pre_course1['p_and2']
pre_course2['p_and3']=pre_course1['p_and3']
pre_course2['p_and4']=pre_course1['p_and4']

In [9]:
pre_1=pd.DataFrame(columns=['courseId','p_and1','p_or1','p_or2','p_or3','p_or4','p_or5','p_or6','p_or7','type'])
pre_2=pd.DataFrame(columns=['courseId','p_and2','p_or1','p_or2','p_or3','p_or4','p_or5','p_or6','p_or7','type'])
pre_3=pd.DataFrame(columns=['courseId','p_and3','p_or1','p_or2','p_or3','p_or4','p_or5','p_or6','p_or7','type'])
pre_4=pd.DataFrame(columns=['courseId','p_and4','p_or1','p_or2','p_or3','p_or4','p_or5','p_or6','p_or7','type'])
pre_1['courseId']=pre_course2['courseId']
pre_1['p_and1']=pre_course2['p_and1']
pre_2['courseId']=pre_course2['courseId']
pre_2['p_and2']=pre_course2['p_and2']
pre_3['courseId']=pre_course2['courseId']
pre_3['p_and3']=pre_course2['p_and3']
pre_4['courseId']=pre_course2['courseId']
pre_4['p_and4']=pre_course2['p_and4']


pre_1['p_or1']=pre_1.p_and1.apply(lambda x:None if x is None else x.split('或者')[0])
pre_1['p_or2']=pre_1.p_and1.apply(lambda x:None if x is None or len(x.split('或者'))<2 else x.split('或者')[1])
pre_1['p_or3']=pre_1.p_and1.apply(lambda x:None if x is None or len(x.split('或者'))<3 else x.split('或者')[2])
pre_1['p_or4']=pre_1.p_and1.apply(lambda x:None if x is None or len(x.split('或者'))<4 else x.split('或者')[3])
pre_1['p_or5']=pre_1.p_and1.apply(lambda x:None if x is None or len(x.split('或者'))<5 else x.split('或者')[4])
pre_1['p_or6']=pre_1.p_and1.apply(lambda x:None if x is None or len(x.split('或者'))<6 else x.split('或者')[5])
pre_1['p_or7']=pre_1.p_and1.apply(lambda x:None if x is None or len(x.split('或者'))<7 else x.split('或者')[6])
#np.max(pre_1['p_and1'])


pre_and1_or1=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and1_or1['courseId']=pre_1['courseId']
pre_and1_or1['p_or']=pre_1['p_or1']
pre_and1_or1['type']=pre_1.type.apply(lambda x:1)
pre_and1_or1=pre_and1_or1.dropna()
pre_and1_or1

pre_and1_or2=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and1_or2['courseId']=pre_1['courseId']
pre_and1_or2['p_or']=pre_1['p_or2']
pre_and1_or2['type']=pre_1.type.apply(lambda x:1)
pre_and1_or2=pre_and1_or2.dropna()
pre_and1_or2

pre_and1_or3=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and1_or3['courseId']=pre_1['courseId']
pre_and1_or3['p_or']=pre_1['p_or3']
pre_and1_or3['type']=pre_1.type.apply(lambda x:1)
pre_and1_or3=pre_and1_or3.dropna()
pre_and1_or3

pre_and1_or4=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and1_or4['courseId']=pre_1['courseId']
pre_and1_or4['p_or']=pre_1['p_or4']
pre_and1_or4['type']=pre_1.type.apply(lambda x:1)
pre_and1_or4=pre_and1_or4.dropna()
pre_and1_or4

pre_and1_or5=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and1_or5['courseId']=pre_1['courseId']
pre_and1_or5['p_or']=pre_1['p_or5']
pre_and1_or5['type']=pre_1.type.apply(lambda x:1)
pre_and1_or5=pre_and1_or5.dropna()
pre_and1_or5

pre_and1_or6=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and1_or6['courseId']=pre_1['courseId']
pre_and1_or6['p_or']=pre_1['p_or6']
pre_and1_or6['type']=pre_1.type.apply(lambda x:1)
pre_and1_or6[48:100]
pre_and1_or6=pre_and1_or6.dropna()
pre_and1_or6

pre_and1_or7=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and1_or7['courseId']=pre_1['courseId']
pre_and1_or7['p_or']=pre_1['p_or7']
pre_and1_or7['type']=pre_1.type.apply(lambda x:1)
pre_and1_or7=pre_and1_or7.dropna()
pre_and1_or7

Empty DataFrame
Columns: [courseId, p_or, type]
Index: []

In [10]:
pre_2['p_or1']=pre_2.p_and2.apply(lambda x:None if x is None else x.split('或者')[0])
pre_2['p_or2']=pre_2.p_and2.apply(lambda x:None if x is None or len(x.split('或者'))<2 else x.split('或者')[1])
pre_2['p_or3']=pre_2.p_and2.apply(lambda x:None if x is None or len(x.split('或者'))<3 else x.split('或者')[2])
pre_2['p_or4']=pre_2.p_and2.apply(lambda x:None if x is None or len(x.split('或者'))<4 else x.split('或者')[3])
pre_2['p_or5']=pre_2.p_and2.apply(lambda x:None if x is None or len(x.split('或者'))<5 else x.split('或者')[4])
pre_2['p_or6']=pre_2.p_and2.apply(lambda x:None if x is None or len(x.split('或者'))<6 else x.split('或者')[5])
pre_2['p_or7']=pre_2.p_and2.apply(lambda x:None if x is None or len(x.split('或者'))<7 else x.split('或者')[6])

pre_and2_or1=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and2_or1['courseId']=pre_2['courseId']
pre_and2_or1['p_or']=pre_2['p_or1']
pre_and2_or1['type']=pre_2.type.apply(lambda x:2)
pre_and2_or1=pre_and2_or1.dropna()
pre_and2_or1

pre_and2_or2=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and2_or2['courseId']=pre_2['courseId']
pre_and2_or2['p_or']=pre_2['p_or2']
pre_and2_or2['type']=pre_2.type.apply(lambda x:2)
pre_and2_or2=pre_and2_or2.dropna()
pre_and2_or2

pre_and2_or3=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and2_or3['courseId']=pre_2['courseId']
pre_and2_or3['p_or']=pre_2['p_or3']
pre_and2_or3['type']=pre_2.type.apply(lambda x:2)
pre_and2_or3=pre_and2_or3.dropna()
pre_and2_or3

pre_and2_or4=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and2_or4['courseId']=pre_2['courseId']
pre_and2_or4['p_or']=pre_2['p_or4']
pre_and2_or4['type']=pre_2.type.apply(lambda x:2)
pre_and2_or4=pre_and2_or4.dropna()
pre_and2_or4

pre_and2_or5=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and2_or5['courseId']=pre_2['courseId']
pre_and2_or5['p_or']=pre_2['p_or5']
pre_and2_or5['type']=pre_2.type.apply(lambda x:2)
pre_and2_or5=pre_and2_or5.dropna()
pre_and2_or5

pre_and2_or6=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and2_or6['courseId']=pre_2['courseId']
pre_and2_or6['p_or']=pre_2['p_or6']
pre_and2_or6['type']=pre_2.type.apply(lambda x:2)
pre_and2_or6[48:100]
pre_and2_or6=pre_and2_or6.dropna()
pre_and2_or6

pre_and2_or7=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and2_or7['courseId']=pre_2['courseId']
pre_and2_or7['p_or']=pre_2['p_or7']
pre_and2_or7['type']=pre_2.type.apply(lambda x:2)
pre_and2_or7=pre_and2_or7.dropna()
pre_and2_or1

      courseId          p_or  type
39      ESE212    (大学物理A（下）      2
43       ME306      (控制工程基础      2
46      ESE216    (大学物理A(下)      2
48       ME303    (CAD与工程制图      2
49       CS401   (数据结构与算法分析      2
..         ...           ...   ...
394     MSE320        (模拟电路      2
401     PHY324        原子物理学)     2
402     PHY330         近代光学)     2
405  PHY206-15         分析力学)     2
406  PHY207-15     (线性代数I-A      2

[66 rows x 3 columns]

In [11]:
pre_3['p_or1']=pre_3.p_and3.apply(lambda x:None if x is None else x.split('或者')[0])
pre_3['p_or2']=pre_3.p_and3.apply(lambda x:None if x is None or len(x.split('或者'))<2 else x.split('或者')[1])
pre_3['p_or3']=pre_3.p_and3.apply(lambda x:None if x is None or len(x.split('或者'))<3 else x.split('或者')[2])
pre_3['p_or4']=pre_3.p_and3.apply(lambda x:None if x is None or len(x.split('或者'))<4 else x.split('或者')[3])
pre_3['p_or5']=pre_3.p_and3.apply(lambda x:None if x is None or len(x.split('或者'))<5 else x.split('或者')[4])
pre_3['p_or6']=pre_3.p_and3.apply(lambda x:None if x is None or len(x.split('或者'))<6 else x.split('或者')[5])
pre_3['p_or7']=pre_3.p_and3.apply(lambda x:None if x is None or len(x.split('或者'))<7 else x.split('或者')[6])

pre_and3_or1=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and3_or1['courseId']=pre_3['courseId']
pre_and3_or1['p_or']=pre_3['p_or1']
pre_and3_or1['type']=pre_3.type.apply(lambda x:3)
pre_and3_or1=pre_and3_or1.dropna()
pre_and3_or1

pre_and3_or2=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and3_or2['courseId']=pre_3['courseId']
pre_and3_or2['p_or']=pre_3['p_or2']
pre_and3_or2['type']=pre_3.type.apply(lambda x:3)
pre_and3_or2=pre_and3_or2.dropna()
pre_and3_or2

pre_and3_or3=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and3_or3['courseId']=pre_3['courseId']
pre_and3_or3['p_or']=pre_3['p_or3']
pre_and3_or3['type']=pre_3.type.apply(lambda x:3)
pre_and3_or3=pre_and3_or3.dropna()
pre_and3_or3

pre_and3_or4=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and3_or4['courseId']=pre_3['courseId']
pre_and3_or4['p_or']=pre_3['p_or4']
pre_and3_or4['type']=pre_3.type.apply(lambda x:3)
pre_and3_or4=pre_and3_or4.dropna()
pre_and3_or4

pre_and3_or5=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and3_or5['courseId']=pre_3['courseId']
pre_and3_or5['p_or']=pre_3['p_or5']
pre_and3_or5['type']=pre_3.type.apply(lambda x:3)
pre_and3_or5=pre_and3_or5.dropna()
pre_and3_or5

pre_and3_or6=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and3_or6['courseId']=pre_2['courseId']
pre_and3_or6['p_or']=pre_3['p_or6']
pre_and3_or6['type']=pre_3.type.apply(lambda x:3)
pre_and3_or6[48:100]
pre_and3_or6=pre_and3_or6.dropna()
pre_and3_or6

pre_and3_or7=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and3_or7['courseId']=pre_3['courseId']
pre_and3_or7['p_or']=pre_3['p_or7']
pre_and3_or7['type']=pre_3.type.apply(lambda x:3)
pre_and3_or7=pre_and3_or7.dropna()
pre_and3_or1

      courseId           p_or  type
39      ESE212       (化学原理实验      3
48       ME303     (CAD与工程制图      3
49       CS401        计算机组成原理     3
55      MED307       组织学与胚胎学)     3
90   PHY203-15      (线性代数I-A      3
131     ESE332       (化学原理 A      3
148      MA208         线性代数II     3
150     ESE329         地球科学概论     3
210     BIO304     (概率论与数理统计      3
220     BIO302        普通生物学实验     3
249      CH306       (无机化学II      3
250      CH314       (现代策略合成      3
252      CH304       (无机化学II      3
261      CS302   (计算机程序设计基础A      3
310      EE208           电路基础     3
320      EE316         (模拟电路      3
334      MA302         线性代数II     3
345   EE423-14          信号和系统     3
371     FIN301         微观经济学)     3
376     FIN305         金融投资概论     3
384     MSE328            晶体学     3
406  PHY207-15         数学物理方法     3

In [12]:
pre_4['p_or1']=pre_4.p_and4.apply(lambda x:None if x is None else x.split('或者')[0])
pre_4['p_or2']=pre_4.p_and4.apply(lambda x:None if x is None or len(x.split('或者'))<2 else x.split('或者')[1])
pre_4['p_or3']=pre_4.p_and4.apply(lambda x:None if x is None or len(x.split('或者'))<3 else x.split('或者')[2])
pre_4['p_or4']=pre_4.p_and4.apply(lambda x:None if x is None or len(x.split('或者'))<4 else x.split('或者')[3])
pre_4['p_or5']=pre_4.p_and4.apply(lambda x:None if x is None or len(x.split('或者'))<5 else x.split('或者')[4])
pre_4['p_or6']=pre_4.p_and4.apply(lambda x:None if x is None or len(x.split('或者'))<6 else x.split('或者')[5])
pre_4['p_or7']=pre_4.p_and4.apply(lambda x:None if x is None or len(x.split('或者'))<7 else x.split('或者')[6])

pre_and4_or1=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and4_or1['courseId']=pre_4['courseId']
pre_and4_or1['p_or']=pre_4['p_or1']
pre_and4_or1['type']=pre_4.type.apply(lambda x:4)
pre_and4_or1=pre_and4_or1.dropna()
pre_and4_or1

pre_and4_or2=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and4_or2['courseId']=pre_4['courseId']
pre_and4_or2['p_or']=pre_4['p_or2']
pre_and4_or2['type']=pre_4.type.apply(lambda x:4)
pre_and4_or2=pre_and4_or2.dropna()
pre_and4_or2

pre_and4_or3=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and4_or3['courseId']=pre_4['courseId']
pre_and4_or3['p_or']=pre_4['p_or3']
pre_and4_or3['type']=pre_4.type.apply(lambda x:4)
pre_and4_or3=pre_and4_or3.dropna()
pre_and4_or3

pre_and4_or4=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and4_or4['courseId']=pre_4['courseId']
pre_and4_or4['p_or']=pre_4['p_or4']
pre_and4_or4['type']=pre_4.type.apply(lambda x:4)
pre_and4_or4=pre_and4_or4.dropna()
pre_and4_or4

pre_and4_or5=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and4_or5['courseId']=pre_4['courseId']
pre_and4_or5['p_or']=pre_4['p_or5']
pre_and4_or5['type']=pre_4.type.apply(lambda x:4)
pre_and4_or5=pre_and4_or5.dropna()
pre_and4_or5

pre_and4_or6=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and4_or6['courseId']=pre_4['courseId']
pre_and4_or6['p_or']=pre_4['p_or6']
pre_and4_or6['type']=pre_4.type.apply(lambda x:4)
pre_and4_or6[48:100]
pre_and4_or6=pre_and4_or6.dropna()
pre_and4_or6

pre_and4_or7=pd.DataFrame(columns=['courseId','p_or','type'])
pre_and4_or7['courseId']=pre_4['courseId']
pre_and4_or7['p_or']=pre_4['p_or7']
pre_and4_or7['type']=pre_4.type.apply(lambda x:4)
pre_and4_or7=pre_and4_or7.dropna()
pre_and4_or1

   courseId      p_or  type
48    ME303   (理论力学I      4

In [17]:
pre_data=pd.concat([pre_and1_or1,pre_and1_or2,pre_and1_or3,pre_and1_or4,pre_and1_or5,pre_and1_or6,pre_and1_or7,
                    pre_and2_or1,pre_and2_or2,pre_and2_or3,pre_and2_or4,pre_and2_or5,pre_and2_or6,pre_and2_or7,
                    pre_and3_or1,pre_and3_or2,pre_and3_or3,pre_and3_or4,pre_and3_or5,pre_and3_or6,pre_and3_or7,
                    pre_and4_or1,pre_and4_or2,pre_and4_or3,pre_and4_or4,pre_and4_or5,pre_and4_or6,pre_and4_or7,
                   ])
pre_data['p_or']=pre_data.p_or.str.strip()
pre_data2=pd.DataFrame(columns=['course_id','prerequisite_id','kind'])
pre_data2['course_id']=pre_data['courseId']
pre_data2['prerequisite_id']=pre_data['p_or']
pre_data2['kind']=pre_data['type']
pre_data2['prerequisite_id']=pre_data2['prerequisite_id'].str.strip('(')
pre_data2['prerequisite_id']=pre_data2['prerequisite_id'].str.strip(')')
pre_data2['prerequisite_id']=pre_data2['prerequisite_id'].str.strip('\n')
pre_data2

    course_id prerequisite_id  kind
34      EE332            数字电路     1
36      CH215           无机化学I     1
37     BIO320           普通生物学     1
39     ESE212            化学原理     1
40    CH305-2          仪器分析原理     1
..        ...             ...   ...
131    ESE332            化学原理     3
261     CS302         计算机编程基础     3
48      ME303           理论力学I     4
48      ME303           理论力学I     4
48      ME303         理论力学I-B     4

[587 rows x 3 columns]

In [20]:
path4="G:/resources/数据库/pro1/release of project 1/prelist2.csv"
pre_data2.to_csv(path4, encoding='utf-8',index=False)