In [18]:
import pandas as pd
path="G:/resources/数据库/pro1/release of project 1/data/class_2.csv"

In [19]:
df=pd.read_csv(path)

In [20]:
df.columns=['id','total_capacity','course_id','class_name','requirement','classlist']

In [4]:
df

,id,total_capacity,course_id,class_name,requirement,classlist
0,0,28,GE232,乒乓球3班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
1,1,30,GE232,健美操2班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
2,2,30,GE232,游泳1班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
3,3,30,GE232,定向越野1班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
4,4,28,GE232,羽毛球1班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
...,...,...,...,...,...,...
590,590,150,PHY105B,中英双语6班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
591,591,150,PHY105B,中英双语5班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
592,592,150,PHY105B,中英双语4班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
593,593,150,PHY105B,中英双语3班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."
594,594,150,PHY105B,中英双语2班,NaN,"[{'weekList': ['1', '2', '3', '4', '5', '6', '..."

In [21]:
import numpy as np
from array import array
ind=0
df_1=pd.DataFrame()
for i in df['classlist']:
    i=eval(i)
    for j in i:
        j.update({"id":ind})
        
        #print(j['weekList'])
        if j['weekList']==['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15']:
            j.update({'weeks':"1-15周"})
        elif j['weekList']==['1', '3', '5', '7', '9', '11', '13', '15']:
            j.update({'weeks':"1-15周，单周"})
        else:
            j.update({'weeks':"2-14周，双周"})
        sub_dict=pd.DataFrame(j)
        df_1=pd.concat([df_1,sub_dict])
        #print("\n")
    ind=ind+1
df_1
locs=['id','location','classTime','weekday','weeks']
df_1=df_1[locs]
df_1=df_1.drop_duplicates()

In [23]:
df_1['location']=df_1.location.apply(lambda x:"待定" if x=="" else x)

In [24]:
df_1[df_1['location']=="待定"]

    id location classTime  weekday     weeks
0  129       待定       1-4        6     1-15周
0  227       待定       5-8        3     1-15周
0  231       待定       1-2        7     1-15周
0  270       待定      9-10        6     1-15周
0  321       待定       7-8        6     1-15周
0  328       待定       1-2        6     1-15周
0  347       待定       1-2        7     1-15周
0  384       待定       7-8        5  2-14周，双周
0  389       待定       3-4        6     1-15周
0  392       待定       1-2        6     1-15周
0  395       待定       3-4        6  1-15周，单周
0  414       待定      9-10        4     1-15周
0  421       待定       5-6        1     1-15周
0  426       待定       7-8        2     1-15周
0  431       待定       5-6        2     1-15周
0  432       待定       3-4        2     1-15周
0  456       待定       5-6        4     1-15周
0  468       待定       5-6        2     1-15周

In [30]:
df_1.to_csv("class_detail.csv",index=False)

In [31]:
len(df_1)

966